<div class="message">
  <div class="<%= message.user == @user ? 'user-tag' : 'other-user-tag' %>">
      <% if message.user.avatar.attached? %>
        <%= image_tag message.user.avatar, class: "avatar" %>
      <% end %>
      <%= message.user.name %>
  </div>
  <%= message.content %>
  <i><small>Posté le <%= message.formatted_created_at %></small></i>
</div>
