<h2>Sign up</h2>
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { data: { controller: "role" } }) do |f| %>
  <%= f.error_notification %>

    <div class="field">
      <%= f.label :role %><br />
      <% User::ROLES.each do |role| %>
        <button type="button" class="button-custom" data-role="<%= role %>"  data-role-target="roleButton" data-action="click->role#selectRole"><%= role.capitalize %></button>
      <% end %>
      <%= f.hidden_field :role, data: { role_target: "roleSelect" } %>

      <%= f.input :name,
                  required: true,
                  input_html: { autocomplete: "Nom d'utilisateur" }%>
      <%= f.input :city,
                  label: "ville",
                  required: true,
                  input_html: { autocomplete: "ville" }%>
      <%= f.input :phone,
                  label: "Téléphone",
                  input_html: { autocomplete: "Téléphone" }%>
      <%= f.input :socials,
                  label: "Réseaux sociaux",
                  input_html: { autocomplete: "Réseaux sociaux" }%>

<!-- ========================= HIDDEN TENANT FORM ========================== -->
      <div data-role-target="tenantForm" style="display: none;">
        <!-- Tenant-specific form fields -->
      </div>


<!-- ======================== HIDDEN MUSICIAN FORM ========================= -->
      <div data-role-target="musicianForm" style="display: none;">
        <!-- Musician-specific form fields -->
      </div>

<!-- =========================== HIDDEN ACT FORM =========================== -->
      <div data-role-target="actForm" style="display: none;">
        <div class="field">
          <%= f.label :styles, "Styles" %><br />
          <%= f.collection_check_boxes :styles, User::STYLES, :to_s, :to_s do |b| %>
            <div class="checkbox">
              <%= b.check_box %>
              <%= b.label %>
            </div>
          <% end %>
        </div>
        <%= f.input :description,
                    label: "Description",
                    input_html: { autocomplete: "Description" }%>
        <h3>Members</h3>
        <div id="members">
          <%= f.simple_fields_for :members, OpenStruct.new(@user.members) do |member_form| %>
            <div class="nested-fields">
              <%= member_form.input :name %>
              <%= member_form.input :instrument %>
              <%= link_to_remove_association "Remove Member", member_form %>
            </div>
          <% end %>
        </div>
        <%= link_to_add_association 'Add Member', f, :members %>
      </div>


      <%= f.input :email,
                  required: true,
                  input_html: { autocomplete: "email" }%>
      <%= f.input :password,
                  required: true,
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: true,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :avatar, as: :file %>
      <%= f.input :banner, as: :file %>
      <div class="form-actions">
        <%= f.button :submit, "Sign up" %>
      </div>
    </div>
  </div>
<% end %>

<%= render "devise/shared/links" %>
