<h2 class="mb-2 fs-4"><%= @user.name %></h2>
<p class="mb-4">( <%= @user.city %> )</p>
<% if @user.styles && @user.act? %>
  <ul class="list-unstyled">
  <% @user.styles.each do |style| %>
    <li><%= style[:content] %></li>
  <% end %>
  </ul>
<% end %>
<% if current_user == @user && @user.role == "act" %>

  <button type="button" class="button-custom mb-3" data-bs-toggle="modal" data-bs-target="#styleModal">
      Ajouter Style
          </button>


  <div class="modal fade" id="styleModal" tabindex="-1" aria-labelledby="styleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h2 class="modal-title fs-5"><strong>Ajouter Style</strong></h2>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <%= form_with(model: [@user, @style], url: styles_user_path(@user), method: :post) do |f| %>
                <div class="form-group">
                  <%= f.label :content, "Style musical" %>
                  <%= f.text_field :content, class: "form-control" %>
                </div>
                <div class="d-flex mt-3 justify-content-between">
              <button type="button" class="closing-button" data-bs-dismiss="modal">Close</button>
                <%= f.submit "Ajouter", class: "button-custom" %>
            </div>
              <% end %>

            </div>

          </div>
        </div>
      </div>
<% end %>

<% if @user.members && @user.act? %>
  <h4>Membres :</h4>
  <ul class="list-unstyled">
    <% @user.members.each do |m| %>
      <li> <%= m[:nickname] %> : <%= m[:instrument] %> </li>
    <% end %>
  </ul>
<% end %>
<% if current_user == @user && @user.role == "act" %>
  <button type="button" class="button-custom" data-bs-toggle="modal" data-bs-target="#memberModal">
          Ajouter Membre
        </button>

 <div class="modal fade" id="memberModal" tabindex="-1" aria-labelledby="memberModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title fs-5"><strong>Ajouter Membre</strong></h2>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <%= form_with(model: [@user, @member], url: members_user_path(@user), method: :post) do |f| %>
              <div class="form-group">
                <%= f.label :nickname, "Nom du membre" %>
                <%= f.text_field :nickname, class: "form-control" %>
              </div>
              <div class="form-group">
                <%= f.label :instrument, "Instrument(s)" %>
                <%= f.text_field :instrument, class: "form-control" %>
              </div>
              <div class="d-flex mt-3 justify-content-between">
            <button type="button" class="closing-button" data-bs-dismiss="modal">Close</button>
              <%= f.submit "Ajouter", class: "button-custom" %>
          </div>
            <% end %>

          </div>

        </div>
      </div>
    </div>
<% end %>

<p><strong>Contact :</strong> <%= @user.email %> </p>

<ul class="d-flex mb- 0 list-unstyled">
  <li class="me-3">
    <%= link_to "#", class: "me-4" do %>
      <%= image_tag "icon_insta.svg", alt: "Instagram"%>
    <% end %>
  </li>
  <li class="me-3">
    <%= link_to "#", class: "me-4" do %>
      <%= image_tag "icon_facebook.svg", alt: "Facebook"%>
    <% end %>
  </li>
  <li class="me-3">
    <%= link_to "#", class: "me-4" do %>
      <%= image_tag "icon_site_web.svg", alt: "Site web"%>
    <% end %>
  </li>
</ul>
