<div class="participant-user-card">
    <%= link_to user_path(participant.user), style: 'text-decoration: none; color: inherit', target: '_blank' do %>
      <div class="banner-user-card">
        <%= cl_image_tag participant.user.banner.key, class: "user-card-banner" %>
        <%= cl_image_tag participant.user.avatar.key, class: "user-card-avatar" %>
      </div>

      <h2><%= participant.user.name %></h2>
      <p><%= Style.where(user: participant.user.id).map { |style| style[:content] }.join(", ") %></p>

      <% if participant.status == "pending"%>
        <div class="d-flex justify-content-around px-2">
          <%= link_to "Accepter", accept_path(participant), class:"button-card",  data: {turbo_method: :patch} %>
          <%= link_to "Décliner", decline_path(participant), class:"button-card",  data: {turbo_method: :patch} %>
        </div>
      <% elsif participant.status == "accepted" || participant.status == "declined" %>
        <div class="mb-3 cancel-button-card m-auto">
          <%= link_to "Annuler", set_to_pending_path(participant), class:"cancel-button-card" , data: {turbo_method: :patch} %>
        </div>
      <% end %>
    <% end %>
</div>
