
  <div class="user-card">
    <%= link_to user_path(participant.user), style: 'text-decoration: none; color: inherit', target: '_blank' do %>
      <div class="banner-user-card">
        <%= image_tag participant.user.banner, class: "user-card-banner" %>
        <%= image_tag participant.user.avatar, class: "user-card-avatar" %>
      </div>
    <% end %>

      <h4><%= participant.user.name %></h4>
      <p><%= participant.user.styles %></p>

  <% if participant.status == "pending"%>
    <div>
      <%= link_to "Accepter", accept_path(participant), class:"button-custom",  data: {turbo_method: :patch} %>
    </div>
    <div>
      <%= link_to "Décliner", decline_path(participant), class:"button-custom",  data: {turbo_method: :patch} %>
    </div>
  <% elsif participant.status == "accepted" || participant.status == "declined" %>
    <div>
      <%= link_to "Annuler", set_to_pending_path(participant), class:"button-custom",  data: {turbo_method: :patch} %>
  </div>
  <% end %>


</div>
