<h2><%= @user.name %></h2>
<h4><%= @user.city %></h4>
<% if @user.styles && @user.act? %>
  <ul>
  <% @user.styles.each do |style| %>
    <li><%= style[:content] %></li>
  <% end %>
  </ul>
<% end %>

<% if @user.members && @user.act? %>
  <h4>Membres :</h4>
  <ul>
    <% @user.members.each do |m| %>
      <li> <%= m[:nickname] %> : <%= m[:instrument] %> </li>
    <% end %>
  </ul>
<% end %>


<ul class="d-flex mb- 0 list-unstyled">
    <% if @user.instagram.present? %>
      <li class="me-2">
          <%= link_to "#", class: "me-4" do %>
            <%= image_tag "icon_insta.svg", alt: "Instagram"%>
          <% end %>
      </li>
    <% end %>
    <% if @user.facebook.present? %>
      <li class="me-2">
        <%= link_to "#", class: "me-4" do %>
          <%= image_tag "icon_facebook.svg", alt: "Facebook"%>
        <% end %>
      </li>
    <% end %>
    <% if @user.listen_to_us.present? %>
      <li class="me-2">
        <%= link_to "#", class: "me-4" do %>
          <%= image_tag "icon_soundcloud.svg", alt: "Soundcloud"%>
        <% end %>
      </li>
    <% end %>
    <% if @user.website.present? %>
      <li class="me-2">
        <%= link_to "#", class: "me-4" do %>
          <%= image_tag "icon_site_web.svg", alt: "Site Web"%>
        <% end %>
      </li>
    <% end %>
    </ul>
</ul>
<% if @user.public_email == true %>
  <p>Contact : <%= @user.email %> </p>
<% end %>
