<% if @user.role == "act" %>
  <div class="bio">
    <h3>Bio</h3>
    <p class="fw-light"><%= @user.description %></p>
  </div>
  <div class="videos">
   <%# <iframe width="560" height="315" src="https://www.youtube.com/embed/_Esf7dxCI04?si=o6vkB3Vn9o3LYCPr" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe> %>
  </div>
  <div id="events">
    <h3 class="mt-5">Evénements à venir</h3>

    <div>
      <ul>
      <% @events.each do |e| %>
        <li><%= e.name %>, <%= e.fr_start_date %>, <%= e.venue.name %>, <%= e.venue.city %> </li>
      <% end %>
      </ul>
    </div>

    <% @events.each do |event| %>
      <%= render "events/event", event: event %>
    <% end %>
  </div>

<% elsif @user.role == "tenant" %>
  <div id="venues">
    <h3>Mes lieux</h3>
    <% @venues.each do |venue| %>
      <%= render "venues/venue", venue: venue %>
    <% end %>
  </div>
<% end %>
