<div class="banner mb-4">
    <% if @user.banner.attached? %>
      <%= cl_image_tag @user.banner.key, class:"banner-img" %>
    <% else %>
      <img src="../../assets/images/banner.jpeg" class="banner-img" alt="<%= @user.name %> banner">
    <% end %>
    <% if @user.banner.attached? %>
      <%= cl_image_tag @user.avatar.key, class:"banner-avatar" %>
    <% else %>
      <img src="../../assets/images/Zikout_logo.svg" class="banner-avatar" alt="<%= @user.name %> banner">
    <% end %>
</div>

<div class="d-flex">
  <div class="user-info">
    <h2><%= @user.name %></h2>
    <h3><%= @user.city %></h3>
    <h4> @user.styles</h4>
    <ul>
      <li>member</li>
      <li>member</li>
      <li>member</li>
    </ul>
    <ul>
      <li>Facebook : </li>
      <li>Instagram : </li>
      <li>Twitter : </li>
    </ul>
    <% if @user.role == "tenant" %>
      <div data-controller="venue-form">
        <button id="create-venue-button" data-action="venue-form#showPopup">Créer un lieu</button>

      </div>
    <% end %>
  </div>
  <div class="user-content">
    <%= @user.description %>
    <p>YOUTUBE</p>
  </div>
  <div class="border">
    <h3>Evénements à venir</h3>
    <% @events.each do |event| %>
      <%= render "events/event", event: event %>
    <% end %>
  </div>
</div>
