<div class="navbar sticky-top navbar-expand-sm navbar-light navbar-lewagon navbar-custom">
  <div class="containt container">
    <div class= "d-flex align-items-center">
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag "Zikout_new_logo.svg", alt: "Zikout"%>
      <% end %>

      <%= form_with url: home_path, method: :get, class: "d-flex align-items-center" do |f| %>
        <div class="position-relative">
          <%= f.text_field :query, value: params[:query], class: "form-control form-custom me-2", placeholder: "Search" %>
          <%= f.submit nil, type: :image, src: image_path("loupe.svg"),  class: "btn btn-custom loupe" %>
        </div>
      <% end %>
    </div>

    <div class="collapse navbar-collapse align-items-center" id="navbarSupportedContent">
      <ul class="navbar-nav mt-1">
          <li class="nav-item">
            <%= link_to events_path, class: "navbar-brand me-4" do %>
              <%= image_tag "event.svg", alt: "Event"%>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to index_path, class: "navbar-brand me-4" do %>
              <%= image_tag "reseau.svg", alt: "Réseau"%>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to venues_path, class: "navbar-brand me-4" do %>
              <%= image_tag "salles.svg", alt: "Salles"%>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to "#", class: "navbar-brand me-4" do %>
              <%= image_tag "notifications.svg", alt: "Notifications"%>
            <% end %>
          </li>
      </ul>
      <div id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <% if user_signed_in? %>
              <img class="nav-link dropdown-toggle avatar-large border" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" src="<%= current_user.avatar %>" />
            <% else %>
              <i class="fa-regular fa-user nav-link text-warning fs-5 px-2 border border-warning rounded-circle" data-bs-toggle="dropdown" role="button"></i>
            <% end %>
            <ul class="dropdown-menu">
              <% if user_signed_in? %>
                <li><%= link_to "Profil", profile_path, class:"dropdown-item" %></li>
                <li><%= link_to "Disconnect", destroy_user_session_path, class:"dropdown-item", data: {turbo_method: :delete} %></li>
              <% else %>
                <li><%= link_to "Login", new_user_session_path, class:"dropdown-item" %></li>
                <li><%= link_to "Sign-up", new_user_registration_path, class:"dropdown-item" %></li>
              <% end %>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    </div>
</div>
