<div class="navbar sticky-top navbar-expand-sm navbar-light navbar-lewagon navbar-custom">
  <div class="containt container">
    <div class= "d-flex align-items-center">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "Zikout_logo.svg", alt: "Zikout"%>
    <% end %>

    <%= form_with url: root_path, method: :get, class: "d-flex align-items-center" do |f| %>
      <div class="position-relative">
        <%= f.text_field :query, class: "form-control form-custom me-2", placeholder: "Search", value: params[:query] %>
        <%= f.submit nil, type: :image, src: image_path("loupe.svg"),  class: "btn btn-custom loupe" %>
      </div>
    <% end %>
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <%= link_to events_path, class: "navbar-brand me-4" do %>
              <%= image_tag "event.svg", alt: "Event"%>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to "#", class: "navbar-brand me-4" do %>
              <%= image_tag "reseau.svg", alt: "Réseau"%>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to "#", class: "navbar-brand me-5" do %>
              <%= image_tag "messagerie.svg", alt: "Messagerie"%>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
      </ul>
    </div>
  </div>
</div>
