<div class="mb-4">
  <img src="https://weezevent.com/wp-content/uploads/2018/08/27184514/organiser-un-concert-en-7-etapes.jpg" class="event-show_img" >
</div>

<div class="d-flex">
  <%= render "venues/info_venue_show"%>

  <div class="col-9 ps-5">
    <div class="d-flex justify-content-between align-items-center">
      <h1><%= @event.name %></h1>

        <% unless @event.is_locked %>
          <% if @event.venue.user == current_user %>
            <%= button_to "Fermer Event", lock_event_path(@event), method: :patch, class: "button-custom", data: { confirm: "Êtes-vous sûr de vouloir cloturer votre Event ?",turbo_confirm: "Êtes-vous sûr de vouloir cloturer votre Event ?" }  %>
          <% end %>

          <% if current_user.role == "act" %>
            <div>
              <% if @already_applied %>
                <%= button_to "Annuler", event_participant_path(@event, @participant), method: :delete, class: "button-custom", data: { confirm: "Êtes-vous sûr de vouloir annuler votre candidature ?", turbo_confirm: "Êtes-vous sûr de vouloir cloturer votre Event ?" } %>
              <% else %>
                <%= button_to "Postuler", event_participants_path(@event), class: "button-custom", data: { turbo_method: :post } %>
              <% end %>
            </div>
          <% end %>
        <% end %>
        <% if @event.is_locked && @event.venue.user == current_user %>
          <%= button_to "Supprimer Event", event_path(@event), method: :delete, class: "button-custom", data: { turbo_confirm: "Êtes-vous sûr de vouloir cloturer votre Event ?" } %>
        <% end %>

    </div>

    <h4><%= @event.category %></h3>
    <p><%= @event.description %></p>

    <% if current_user == @event.venue.user %>

      <% if @participant_accepted %>
        <div  class="border-custom p-3 mb-4">
          <h5>Participants acceptés</h5>
          <div class="d-flex flex-wrap">
            <% @participant_accepted.each do |participant| %>
              <%= link_to profile_path do %>
                <%= render "users/participant-user-card", participant: participant %>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>

      <% if @participant_pending %>
        <div  class="border-custom p-3 mb-4">
          <h5>Participants en attente</h5>
          <div class="d-flex flex-wrap">
            <% @participant_pending.each do |participant| %>
              <%= link_to profile_path do %>
                <%= render "users/participant-user-card", participant: participant %>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>

      <% if @participant_declined %>
        <div  class="border-custom p-3">
        <h5>Participants refusés</h5>
        <div class="d-flex flex-wrap">
          <% @participant_declined.each do |participant| %>
            <%= link_to profile_path do %>
              <%= render "users/participant-user-card", participant: participant %>
            <% end %>
          <% end %>
        </div>
      </div>
      <% end %>
    <% end %>

  </div>
</div>
