<div class="mb-4">
  <img src="https://weezevent.com/wp-content/uploads/2018/08/27184514/organiser-un-concert-en-7-etapes.jpg" class="event-show_img" >
</div>

<%= render "venues/info_venue_show"%>

  <div class="col-9 ps-5">

    <h1><%= @event.name %></h1>
    <h4><%= @event.category %></h3>
    <p><%= @event.description %></p>

    <%# <% if current_user.role == "act" %>
    <div>
      <%= button_to "Postuler", event_teams_path(@event), class:"button-custom", data: {turbo_method: :post} %>
    </div>

    <%# <% elsif current_user == @event.venue.user %>
    <div class="border d-flex flex-wrap justify-content-between p-3">
      <% @teams.each do |team| %>
        <%= render "users/team-user-card", team: team %>
      <% end %>
    </div>
    <%# <% end %>

  </div>
