<div class="mb-4">
  <img src="https://weezevent.com/wp-content/uploads/2018/08/27184514/organiser-un-concert-en-7-etapes.jpg" class="event-show_img" >
</div>

<%= render "venues/info_venue_show" %>

  <div class="col-9 ps-5">
    <div class="d-flex justify-content-between align-items-center">
      <h1><%= @event.name %></h1>
      <%# <% if current_user.role == "act" %>
      <div>
        <%= button_to "Postuler", event_participants_path(@event), class:"button-custom", data: {turbo_method: :post} %>
      </div>
      <%# <% end %>
    </div>
    <h4><%= @event.category %></h3>
    <p><%= @event.description %></p>

    <%# <% if current_user.role == "act" %>
    <div>
      <%= button_to "Postuler", event_participants_path(@event), class:"button-custom", data: {turbo_method: :post} %>


    <%# <% if current_user == @event.venue.user %>

    <div class="border d-flex flex-wrap justify-content-between p-3">
      <% @participants.each do |participant| %>
        <%= link_to profile_path do %>
          <%= render "users/participant-user-card", participant: participant %>
        <% end %>
      <% end %>
    </div>

    <div class="border d-flex flex-wrap justify-content-between p-3">

      <% @participants.each do |participant| %>
        <%= link_to profile_path do %>
          <%= render "users/participant-user-card", participant: participant %>
        <% end %>
      <% end %>
    </div>

    <div class="border d-flex flex-wrap justify-content-between p-3">
      <% @participants.each do |participant| %>
        <%= link_to profile_path do %>
          <%= render "users/participant-user-card", participant: participant %>
        <% end %>
      <% end %>
    </div>

    <%# <% end %>

  </div>
