<div class="col-3 info-venue p-3">
  <h2 class="mb-4"><%= @venue.name %></h2>
  <p>Lieu:  <%= @venue.city %></p>
  <p>Capacité:  <%= @venue.capacity %></p>
  <p>Taille de scène:  <%= @venue.scene_size %></p>
  <p>Loge:  <%= @venue.lodging %></p>
  <p>Rémunération:  <%= @venue.paying %></p>
  <p><%= @venue.description %></p>
    <ul class="d-flex mb- 0 list-unstyled">
      <li>
        <%= link_to "#", class: "navbar-brand me-4" do %>
          <%= image_tag "reseau.svg", alt: "Réseau"%>
        <% end %>
      </li>
      <li>
        <%= link_to "#", class: "navbar-brand me-4" do %>
          <%= image_tag "reseau.svg", alt: "Réseau"%>
        <% end %>
      </li>
    </ul>
</div>
