<div class="mb-4">
  <img src="https://weezevent.com/wp-content/uploads/2018/08/27184514/organiser-un-concert-en-7-etapes.jpg" class="banner" >
</div>

<%= render "info_venue_show" %>

<div class="col-9 ps-5">

  <h1><%= @venue.name %></h1>
  <h4><%= @venue.category %></h3>
  <p><%= @venue.description %></p>

  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <button id="create-event-button" >Créer un événement</button>
        <%= render 'events/new-event-form', event: @event %>
      </div>
    <div>
      <h2> Evénements à venir </h2>
      <% @events.each do |event| %>
        <%= render "events/event", event: event %>

      <% end %>
    </div>
</div>
