<div class="banner mb-4">
  <img src="https://weezevent.com/wp-content/uploads/2018/08/27184514/organiser-un-concert-en-7-etapes.jpg" class="banner-img" >
</div>

<div class=" mt-5 d-flex">
    <div>
      <div class="info-sticky">
        <%= render "info_venue_show"%>
      <% if current_user.role == "tenant" && current_user.venues.include?(@venue) %>
        <div class="d-flex justify-content-between mt-4">
          <button type="button" class="button-custom" data-bs-toggle="modal" data-bs-target="#editingVenueModal">
            Modifier
          </button>
          <button class="button-custom"> <%= link_to "Supprimer", venue_path(@venue),
            data: {turbo_method: :delete, turbo_confirm: "Êtes-vous sûr?"} %>
          </button>
        </div>
      <% end %>
      </div>
    </div>

  <div class="col-9 ps-5">
    <div class="d-flex justify-content-between">
    <h1><%= @venue.name %></h1>
      <% if current_user.role == "tenant" && current_user.venues.include?(@venue) %>
        <button type="button" class="button-custom" data-bs-toggle="modal" data-bs-target="#eventModal">
          Créer un Event
        </button>
      <% end %>
    </div>
    <h4 class="fs-5 mb-3 fst-italic"><%= @venue.category %></h4>
    <p class="fw-light"><%= @venue.description %></p>

    <%= render "editing-modal" %>


    <div class="modal fade" id="eventModal" tabindex="-1" aria-labelledby="eventModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title fs-5"><strong>Créer un évènement:</strong></h2>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <%= render "events/event-form", event: @new_event %>
          </div>
          <div class="modal-footer">
            <button type="button" class="closing-button" data-bs-dismiss="modal">Annuler</button>
            <button type="submit" class="button-custom" form="event_form">Ajouter</button>
          </div>
        </div>
      </div>
    </div>

    <h2 class="mt-5"> Événements à venir </h2>
    <% @events.each do |event| %>
      <%= render "events/event", event: event %>
    <% end %>
    <hr />
    <h2> Événements passés </h2>
  </div>
</div>
<!-- class="modal-dialog modal-dialog-centered modal-dialog-scrollable" -->
