<div class="banner mb-4">
  <img src="https://weezevent.com/wp-content/uploads/2018/08/27184514/organiser-un-concert-en-7-etapes.jpg" class="banner-img" >
</div>

<%= render "info_venue_show" %>

<div class="col-9 ps-5">

  <h1><%= @venue.name %></h1>
  <h4><%= @venue.category %></h3>
  <p><%= @venue.description %></p>


  <% if current_user == @venue.user %>
    <button type="button" class="button-custom" data-bs-toggle="modal" data-bs-target="#venueModal">
      Ajouter un lieu
    </button>
  <% end %>

  <%= render "modal" %>

  <% if current_user.role == "tenant" && current_user.venues.include?(@venue) %>
    <button type="button" class="button-custom" data-bs-toggle="modal" data-bs-target="#eventModal">

      Créer un évènement
    </button>
  <% end %>


  <div class="modal fade" id="eventModal" tabindex="-1" aria-labelledby="eventModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title fs-5"><strong>Créer un évènement:</strong></h2>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <%= render "events/event-form", event: @new_event %>
        </div>
        <div class="modal-footer">
          <button type="button" class="closing-button" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="button-custom" form="event_form">Ajouter</button>
        </div>
      </div>
    </div>
  </div>

  <h2> Evénements passés </h2>
  <h2> Evénements à venir </h2>
  <% @events.each do |event| %>
    <%= render "events/event", event: event %>
  <% end %>
</div>

<!-- class="modal-dialog modal-dialog-centered modal-dialog-scrollable" -->
